streamlit>=1.35.0
pandas>=2.2.0
numpy>=1.26.0
plotly>=5.20.0
matplotlib>=3.9.0
streamlit-quill==0.0.3
cryptography
python-dotenv
streamlit-js-eval
PyGithub
yfinance>=0.2.18
scikit-learn>=1.3.0
Pillow>=9.0.0